* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    position: relative;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    width: 100%;

}

.head-name {
    display: block;
    position: fixed;
    width: 100%;
    height: 7%;
    background-color: white;
    color: rgb(95, 95, 95);
    text-align: center;
    font-weight: bold;
    font-size: medium;
    padding-top: 10px;
    z-index: 10;
}

nav {

    display: flex;
    position: fixed;
    background-color: rgb(44, 42, 42);
    padding: 25px 30px;
    flex-wrap: wrap;
    z-index: 9;
    width: 100%;
    top: 40px;
    /* justify-content: space-between;/ / Added to space out the logo and menu */
    align-items: center;

}

.head-logo1 {
    color: aliceblue;
    /* display: block; */
    font-size: 26px;
    font-weight: bold;
    margin-left: 80px;

}

.head-logo {
    display: inline;
    background-color: rgb(4, 236, 109);
    padding: 2px 6px;
    border-radius: 3px;
    margin-left: 5px;

}

/* Navigation Menu */
nav {

    display: flex;
    position: fixed;
    background-color: rgb(44, 42, 42);
    padding: 25px 30px;
    flex-wrap: wrap;
    z-index: 9;
    width: 100%;
    top: 40px;
    /* justify-content: space-between;/ / Added to space out the logo and menu */
    align-items: center;

}

.head-logo1 {
    color: aliceblue;
    /* display: block; */
    font-size: 26px;
    font-weight: bold;
    margin-left: 80px;

}

.head-logo {
    display: inline;
    background-color: rgb(4, 236, 109);
    padding: 2px 6px;
    border-radius: 3px;
    margin-left: 5px;

}

/* Navigation Menu */
.ul1 {
    margin-left: 150px;
}

ul {
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-between;


}

/* ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
} */

li {
    left: 20px;
    padding-left: 30px;


}

.head-logoc {
    position: absolute;
    right: 50px;
    background-color: rgb(29, 202, 121);
    color: aliceblue;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 300;
}

ul li a:hover {
    text-decoration: none;
    color: rgb(35, 236, 135);
}


/* Dropdown Styling */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 220px;
    text-align: start;
    z-index: 1;
    padding: 10px 0;
    margin-right: 4000px;
    /* margin-top: 5px; */

}

.dropdown-content li {
    padding: 25px 16px;
    color: #fff;
    font-size: 16px;
}

.dropdown-content li:hover {
    background-color: #444;
}

/* Show the dropdown when the button is clicked */
.dropdown:hover .dropdown-content {
    display: block;
}

/* boobkabvhbvbb */
.dropdown-content-1 {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 220px;
    text-align: start;
    z-index: 1;
    padding: 10px 0;
    margin-right: 4000px;
    left: 221px;
    top: 79px;
    /* overflow:scroll; */
    overflow-y: scroll;
    height: 400px;

}

.dropdown-content-1 li {
    padding: 25px 16px;
    color: #fff;
    font-size: 16px;
}

.dropdown-content-1 li:hover {
    background-color: #444;
}

/* Show the dropdown when the button is clicked */
.dropdown-menu-1:hover .dropdown-content-1 {
    display: block;
}
/*Title & image (section-1)*/
.section-1 {
    display: flex;
    justify-content: space-around;
    /*border: 2px solid #ca0b0b;*/
    color: #101010;
    padding-top: 200px;
    padding-bottom: 10px;
    top: 10px;
    font-size: 20px;
}

.section-1 i {
    color: #09a473;
}

.section-1 h1 {
    padding-bottom: 20px;
}

/*content & number (section-2)*/
.section-2 {
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
}

.section-2 span {
    color: rgb(13, 180, 100);
}

.btn {
    color: #f1f0f0;
    font-size: 22px;
    border: 1px solid #f40e0e;
    height: 55px;
    width: 240px;
    border-radius: 40px 40px;
    background-color: #ca0b0b;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #e10202;
    font-size: 24px;
    height: 60px;
    width: 250px;
}

/*icon (section-3)*/
.section-3 h1 {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.section-31{
    left: 200px;
    /* border: 2px solid red; */
    align-items: center;
    padding-left: 170px;

}

.section-3 .card {
    color: #3c5665;
    display: inline-flex;
    justify-content: center;
    height: 100px;
    width: 400px;
    margin-left: 70px;
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
}

.section-3 .card i {
    color: #09a473;
    font-size: 70px;
}

/*(section-4)*/
.section-4 h1 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 80px;
}

.section-4 .item {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    /* padding-bottom: 70px; */
}

/*section-5*/
.section-5 h1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    padding-bottom: 60px;
}

.section-5 i {
    color: #09a473;
    font-size: 50px;
    margin-top: -15px;
}
.section-5-1{
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}

.section-5 p {
    color: #3c5665;
    margin-left: 150px;
    display: inline-flex;
    font-size: 20px;
    height: 150px;
    width: 500px;
    gap: 40px;
}

/*section-6*/
.section-6 h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.section-6 .details {
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 18px;
}

.section-6 .details p {
    color: #3c5665;
}

.section-6 .details span {
    color: rgb(0, 13, 255);
}

.section-6 .details u {
    color: #09a473;
}

/*section-7*/
.section-7 h1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    padding-bottom: 10px;
}

.section-7 .service {
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 18px;
}

.section-7 .service p {
    color: #3c5665;
    padding-bottom: 20px;
}

.section-7 .service span {
    color: #04a471;
}

.section-7 .service u {
    color: rgb(0, 13, 255);
}

/*footer*/
footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(21, 42, 40);
    padding-bottom: 10px;
    color: aliceblue;
}

footer h1 {
    display: flex;
    color: rgb(12, 219, 132);
    font-size: 40px;
    padding-top: 30px;
}

.head {
    margin-top: 100px;
}

.head span {
    color: #fff;
}

.f1 span {
    color: aqua
}

.f1 p {
    margin-left: 70px;
    font-size: 18px;
    transition: 0.3s;
    cursor: pointer;
}

.f1 p:hover {
    font-size: 19px;
    color: aqua;
}

.f2 p {
    font-size: 18px;
    transition: 0.3s;
    cursor: pointer;
}

.f2 p:hover {
    font-size: 19px;
    color: aqua;
}

.f3 p {
    padding-left: 80px;
    font-size: 18px;
    margin-left: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.f3 p:hover {
    font-size: 20px;
    cursor: pointer;
    color: aqua;
}
.box2{
    display:flex;
    background-color: rgb(148, 148, 148);
    color: #fff;
    position: absolute;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

/*copyrights*/
   

.end .link-1 {
    font-size: 18px;
}

.end .link-2 a {
    color: #0e0d0d;
    margin-left: 30px;
    padding-left: 5px;
    padding-top: 4px;
    padding-right: 5px;
    padding-bottom: 3px;
    background-color: #fef6f6;
    border-radius: 20% 20%;
    font-size: 25px;
    transition: 0.3s;
}

.end .link-2 a:hover {
    background-color: #26cb81;
    color: #fff;
}