* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

}

.head-name {
    display: block;
    position: fixed;
    width: 100%;
    height: 7%;
    background-color: white;
    color: rgb(95, 95, 95);
    text-align: center;
    font-weight: bold;
    font-size: medium;
    padding-top: 10px;
    z-index: 10;
}

nav {

    display: flex;
    position: fixed;
    background-color: rgb(44, 42, 42);
    padding: 25px 30px;
    flex-wrap: wrap;
    z-index: 9;
    width: 100%;
    top: 40px;
    /* justify-content: space-between;*/
    /* Added to space out the logo and menu */
    align-items: center;
}

.head-logo1 {
    color: aliceblue;
    /* display: block; */
    font-size: 26px;
    font-weight: bold;
    margin-left: 80px;

}

.head-logo {
    display: inline;
    background-color: rgb(4, 236, 109);
    padding: 2px 6px;
    border-radius: 3px;
    margin-left: 5px;

}

/* Navigation Menu */
ul {
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    left: 420px;
    text-decoration: none;
    list-style-type: none;

}

li {
    left: 20px;
    padding-left: 30px;


}

.head-logoc {
    position: absolute;
    right: 50px;
    background-color: rgb(29, 202, 121);
    color: aliceblue;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0;
    text-align: center;
    font-size: 18px;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 300;
}

ul li a:hover {
    text-decoration: none;
    color: rgb(28, 116, 72);
}

/* displays */
con-1 {
    background: rgb(61, 202, 85);
    background: linear-gradient(58deg, rgba(61, 202, 85, 1) 47%, rgba(247, 253, 255, 0.024260143624659225) 62%);
}

.section_top {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(./image/blue-rose-flowers-7680x4320-17528.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
}

/* .content-a {
    background: rgb(61, 202, 85);
    background: linear-gradient(58deg, rgba(61, 202, 85, 1) 47%, rgba(247, 253, 255, 0.024260143624659225) 62%);
    
} */

@keyframes change {
    0% {
        background-image: url(./image/741407.jpg);
        color: rgb(9, 7, 36);
    }

    20% {
        background-image: url(./image/530482.png);
        color: rgb(246, 252, 252);
    }

    40% {
        background-image: url(./image/1119975.jpg);
        color: rgb(243, 161, 37);
    }

    60% {
        background-image: url(./image/1158103.jpg);
        color: rgb(0, 26, 255);
    }

    80% {
        background-image: url(./image/1158934.jpg);
        color: rgb(255, 255, 255);
    }

    100% {
        background-image: url(./image/266471.jpg);
        color: rgb(232, 240, 240);
    }

}

/* display */
.dis {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100%;
    background-size: cover;
    color: rgba(245, 148, 36, 0.884);
    height: 600px;
    top: 90px;
}

.text-content {
    display: block;
    position: absolute;
    /* border:1px solid; */
    width: 600px;
    height: 500px;
    top: 30px;
    left: 100px;
    padding: 30px;
    padding-top: 100px;
}

.call-1 {
    padding: 5px;
    border: 1px solid greenyellow;
    background-color: rgb(106, 189, 23);
    border-radius: 20px;
    margin-top: 20px;
}

.video-1 {
    /* border: 1px solid blue; */
    position: absolute;
    top: 30px;
    width: 400px;
    height: 450px;
    /* background-color: aqua; */
    background-image: url();
    right: 100px;
}

/* service-1 */
.service-1 {
    display: inline-block;
    position: relative;
    width: 80%;
    height: 60%;
    /* padding: 20%; */
    margin-top: 100px;
    margin-left: 20px;
}

.services-img-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: auto;
    margin-left: 10%;
}

.service-1 h1 {
    display: block;
    text-align: center;
    padding: 20px;
    color: chartreuse;
}

.service-1 p {
    display: block;
    text-align: center;
    padding: 20px;
    padding-top: 0;
    color: rgb(65, 128, 3);

}

.service-box-1 {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 20px;
}

.service-box-2 {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 20px;
}

.service-box-3 {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 20px;
}

.service-boxs-1 {
    position: absolute;
    left: 50px;
    top: 20px;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(9, 255, 0);
}

.service-boxs-2 {
    position: absolute;
    left: 50px;
    top: 20px;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(9, 255, 0);
}

.service-boxs-3 {
    position: absolute;
    left: 50px;
    top: 20px;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(9, 255, 0);
}

.service-box-1 h2 {
    position: absolute;
    text-align: center;
    bottom: 0px;
}

.service-box-2 h2 {
    position: absolute;
    text-align: center;
    left: 5px;
    bottom: 0px;
}

.service-box-3 h2 {
    position: absolute;
    text-align: center;
    left: 10px;
    bottom: 0px;
}

/* our */
.our {
    display: inline-block;
    position: relative;
    width: 97%;
    height: 60%;
    /* padding: 20%; */
    margin-top: 100px;
    background-color: rgb(123, 128, 128);
}

.our h1 {
    position: relative;
    padding: 20px;
}

.card-box {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;

}

.our-box-1 {
    position: relative;
    display: block;
    background-color: rgb(110, 122, 109);
    border: 1px solid rgb(145, 156, 132);
    width: 420px;
    height: 250px;
    text-align: start;
    margin: 20PX;
    border-radius: 20px;
}

.our-box-1 h2 {
    position: absolute;
    color: rgb(109, 255, 170);
    bottom: 60px;
    padding: 10px;
}

.our-box-1 p {
    position: absolute;
    bottom: 0px;
    padding: 10px;

}

/* laptops ser */

.loptop-ser {
    display: inline-block;
    position: relative;
    width: 97%;
    height: 60%;
    /* padding: 20%; */
    margin-top: 100px;

}

.card-box {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;

}

.loptop-ser h1 {
    padding: 20px;
}

.img-lap-1 {
    position: relative;
    display: block;
    background-color: rgb(110, 122, 109);
    border: 1px solid rgb(145, 156, 132);
    width: 200px;
    height: 250px;
    text-align: start;
    margin: 20PX;
    border-radius: 20px;
}

.img-lap {
    position: absolute;
    border: 1px solid yellow;
    border-radius: 100%;
    width: 180px;
    height: 180px;
    left: 10px;
    top: 20px;
}

.img-lap-1 p {
    position: absolute;
    left: 20px;
    bottom: 0px;
    padding: 10px;

}

/* laptop bra */
.laptop-bra {
    display: inline-block;
    position: relative;
    width: 97%;
    /* padding: 20%; */
    margin-top: 100px;
}

.laptop-bra h1 {
    position: absolute;
    margin-left: 100px;
    border-bottom: 3px solid green;
}

.brand {
    display: inline-flex;
    width: 65%;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.img-box {
    position: relative;
    display: block;
    width: 200px;
    height: 150px;
    text-align: start;
    /* margin: 10PX; */
    border-radius: 20px;
    margin-top: 60PX;
}

.img-lap-2 {
    position: absolute;
    border: 1px solid yellow;
    border-radius: 100%;
    width: 180px;
    height: 180px;
    left: 10px;
    top: 20px;
}

/* Tv service */

.Led-tv {
    display: inline-block;
    position: relative;
    width: 97%;
    height: 60%;
    /* padding: 20%; */
    margin-top: 100px;

}

.card-box1 {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;

}

.Led-tv h1 {
    padding: 20px;
}

.img-tv-1 {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgb(110, 122, 109);
    border: 1px solid rgb(145, 156, 132);
    width: 200px;
    height: 250px;
    text-align: center;
    margin: 20PX;
    border-radius: 20px;
}

.img-lap {
    position: absolute;
    border: 1px solid yellow;
    border-radius: 100%;
    width: 180px;
    height: 180px;
    left: 10px;
    top: 20px;
}

.img-tv-1 p {
    position: absolute;
    /* left: 40px; */
    bottom: 0px;
    padding: 10px;

}

/* tv bra */
.tv-bra {
    display: inline-block;
    position: relative;
    width: 97%;
    /* padding: 20%; */
    margin-top: 100px;
}

.tv-bra h1 {
    position: absolute;
    margin-left: 100px;
    border-bottom: 3px solid green;
}

.brand {
    display: inline-flex;
    width: 65%;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.img-box {
    position: relative;
    display: block;
    width: 200px;
    height: 150px;
    text-align: start;
    /* margin: 10PX; */
    border-radius: 20px;
    margin-top: 60PX;
}

.img-lap-2 {
    position: absolute;
    border: 1px solid yellow;
    border-radius: 100%;
    width: 180px;
    height: 180px;
    left: 10px;
    top: 20px;
}

/* bus */
.businesses {
    display: inline-block;
    position: relative;
    width: 97%;
    /* padding: 20%; */
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: aqua;

}

.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;

}

.content-box1 {
    position: relative;
    width: 40%;
    height: 500px;
    background-color: brown;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.content-box1 h1 {
    position: absolute;
    padding-left: 100px;
    padding-top: 60px;

}

.lists-1 {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 180px;
    left: 120px;
    border: 2px solid red;
    width: 300px;
    height: 100px;
    text-align: center;


}

.list-box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: aqua;
    left: 0;
}

.lists-1 h2 {
    position: absolute;
    left: 150px;
    top: 30px;
}


.content-box2 {
    position: relative;
    width: 40%;
    height: 500px;
    background-color: rgb(101, 165, 42);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}